.home {
	@include flex(center, center);
	background: url('../img/bgHome.jpg') center;
	background-size: cover;
	height: 100vh;
	padding: 0 50px;
	position: relative;

	&__text {
		text-align: center;
		&--feacture {
			@include fsize(30px);
			line-height: 1;
			font-weight: bold;
		}

		&--big {
			@include fsize(42px);
			line-height: 1;
			margin: 20px 0;
		}

		&--small{
			@include fsize(14px);
		}
	}

	.midias {
		@include flex(center);

		&__item {
			margin: 0 5px;
			color: #000;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	#mouse-scroll {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;

		.mouse {
			@include dim(22px, 37px);
			@include border-radius(10px);
			position: absolute;
			transform: translateX(-50%);
			border: 2px solid #fff;
			top: -90px;
			left: 50%;
		}

		.mouse-in {
			@include dim(2px, 7px);
			position: relative;
			display: block;
			margin: 5px auto;
			background: #fff;
			animation: animated-mouse 1.2s ease infinite;
		}

		.down-arrow-1 {
			@include dim(7px, 8px);
			@include rotate(45deg);
			position: relative;
			animation: mouse-scroll 1.2s ease infinite;
			display: block;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
			margin: 0 auto;
			top: 3px;
		}
	}

	@keyframes animated-mouse {
		0% {
			opacity: 1;
			transform: translateY(0);
		}

		100% {
			opacity: 0;
			transform: translateY(6px);
		}
	}

	@keyframes mouse-scroll {
		0% {
			opacity: 1;
		}

		50% {
			opacity: .5;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes mouse-scroll {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.5;
		}

		100% {
			opacity: 1;
		}
	}
}